<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-course-heading">Create or edit a Course</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_img">Img</label>
                    <div>
                        <img [src]="'data:' + editForm.get('imgContentType').value + ';base64,' + editForm.get('img').value" style="max-height: 100px;" *ngIf="editForm.get('img').value" alt="course image"/>
                        <div *ngIf="editForm.get('img').value" class="form-text text-danger clearfix">
                            <span class="pull-left">{{editForm.get('imgContentType').value}}, {{byteSize(editForm.get('img').value)}}</span>
                            <button type="button" (click)="clearInputImage('img', 'imgContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_img" (change)="setFileData($event, 'img', true)" accept="image/*"/>
                    </div>
                    <input type="hidden" class="form-control" name="img" id="field_img"
                           formControlName="img"/>
                    <input type="hidden" class="form-control" name="imgContentType" id="field_imgContentType"
                           formControlName="imgContentType" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_category">Category</label>
                    <select class="form-control" id="field_category" name="category" formControlName="category">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="categoryOption.id === editForm.get('category').value?.id ? editForm.get('category').value : categoryOption" *ngFor="let categoryOption of categories; trackBy: trackCategoryById">{{categoryOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
