<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="exercise">
            <h2><span>Exercise</span> {{exercise.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Title</span></dt>
                <dd>
                    <span>{{exercise.title}}</span>
                </dd>
                <dt><span>Content</span></dt>
                <dd>
                    <span>{{exercise.content}}</span>
                </dd>
                <dt><span>Date</span></dt>
                <dd>
                    <span>{{exercise.date}}</span>
                </dd>
                <dt><span>State</span></dt>
                <dd>
                    <span>{{exercise.state}}</span>
                </dd>
                <dt><span>Level</span></dt>
                <dd>
                    <span>{{exercise.level}}</span>
                </dd>
                <dt><span>Visit</span></dt>
                <dd>
                    <span>{{exercise.visit}}</span>
                </dd>
                <dt><span>Chapter</span></dt>
                <dd>
                    <div *ngIf="exercise.chapter">
                        <a [routerLink]="['/chapter', exercise.chapter?.id, 'view']">{{exercise.chapter?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/exercise', exercise.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
