<div>
    <h2 id="page-heading">
        <span>Exercises</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-exercise" [routerLink]="['/exercise/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Exercise
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="exercises?.length === 0">
        <span>No exercises found</span>
    </div>
    <div class="table-responsive" *ngIf="exercises?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="title"><span>Title</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="content"><span>Content</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="date"><span>Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="state"><span>State</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="level"><span>Level</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="visit"><span>Visit</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="chapter.id"><span>Chapter</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let exercise of exercises ;trackBy: trackId">
                <td><a [routerLink]="['/exercise', exercise.id, 'view' ]">{{exercise.id}}</a></td>
                <td>{{exercise.title}}</td>
                <td>{{exercise.content}}</td>
                <td>{{exercise.date | date:'medium'}}</td>
                <td>{{exercise.state}}</td>
                <td>{{exercise.level}}</td>
                <td>{{exercise.visit}}</td>
                <td>
                    <div *ngIf="exercise.chapter">
                        <a [routerLink]="['/chapter', exercise.chapter?.id, 'view' ]" >{{exercise.chapter?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/exercise', exercise.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/exercise', exercise.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(exercise)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
